*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-image: url(images/background1.jpg);     
}

header{
    font-size: 2em;
    position: relative;
    left: 500px;
}

.ul-1 {
    text-decoration: none;
    font-size: 1.5em;
    width: 50%;
    margin: 10px;
}

.list-1{
    display: inline-block;
    list-style-type: none;
    margin-inline:20px;
    background-color: rgb(3, 194, 194);
    color: rgb(255, 255, 255);
    border-radius: 10%;
    position: relative;
    left: 500px;
}

hr{
    width: 55%;
    border: 1px solid rgb(0, 0, 0);
    position: relative;
    left: 250px;
}

#html{
    background-color: rgb(218, 255, 163);
    color: rgb(0, 0, 0);
    margin: 10px 200px 10px 200px;
    padding: 25px;
    width: 1050px;
    border-radius: 5%;  
    position:relative;
    left: 50px;
    
}

img,h2{
    margin: 10px 350px 10px 300px;
}

.section-1{
    background-color: rgba(230, 179, 85,0.8);
    color: rgb(0, 0, 0);
    margin: 10px 200px 10px 200px;
    padding: 25px;
    width: 1050px;
    border-radius: 5%;  
    position:relative;
    left: 50px;
}
 .list-education1{
    background-color: white;
    color: rgb(111, 30, 0);
    border-radius: 10%;
    list-style-type: none;
    padding: 10px;
    margin: 10px;
}


 .list-education2{
    background-color: white;
    color: rgb(111, 30, 0);
    border-radius: 10%;
    list-style-type: none;
    padding: 10px;
    margin: 10px;
 }
 .list-education3{
    background-color: white;
    color: rgb(111, 30, 0);
    border-radius: 10%;
    list-style-type: none;
    padding: 10px;
    margin: 10px;
 }
