body{
    margin: 0;
    padding: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
 
}



.container{
    background-color: rgb(203, 203, 112);
    border: 2px solid black;
    margin: 2em;
    padding: 1rem;
    display: flex;
    flex-direction: column;
}

.text{
    display: flex;
    align-items: center;
    justify-content: space-around;
}

