h1{
 background-color: rgb(176, 176, 205);
 color: rgb(28, 1, 53);
}

h1:hover{
    background-color: rgb(215, 9, 9);
    color: #ffffff;  
}
h1:hover::first-letter{
    font-size: 150px;
}

p{
    background-color: #bd737f;
    color: #000000;  
}

p:hover{
   
    background-color: #8d0c0c;
    color: #ffffff;
}

p:hover::first-letter{
    font-size: 200px;
}
