*{
   box-sizing: border-box; 

}

.box-1{
    width: 50%;
    margin: 10px 10px 50px 10px ;
    box-shadow: 10px 10px 10px 10px lightgrey;
}
h1{
    position:relative;
    top: -20px;
    padding-left: 10px;
}

p{
    padding-left: 10px;
}

.x-1{
    position:absolute;
    right: 10px;
    background-color: red;
    border-radius: 50%;

}
video{
    width: 200px;
    height: 200px;
    position: fixed;
    bottom:100px;
    right: 40px;
}