*{
    box-sizing: border-box;
}

body{
    margin: 0;
}

.progress-bar-container{
    margin-inline: 1rem;
    padding: 0.5rem;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

.indicator{
    font-family: monospace;
    font-size: 0.9rem;
    color: grey;
    margin: 0;
    padding: 0;
}

.progress-bar-wrapper{
    display: flex;
    justify-content: center;
    flex-grow: 1;
    position: relative;
}

.progress-bar{
    position: absolute;
    bottom: 0;
    width: 15px;
    height: 100%;
    background-color: green;
    transition: height ease-out .5s;
}
